#   executaveis de programas
*-out
#   configuração vscode
.vscode
#   arquivo de teste
teste.c
/Desbravando Java e Orientação a Objetos/livraria/nbproject/private/
/Desbravando Java e Orientação a Objetos/livraria/build/
/BLOCK